@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: #3a334e;
opacity: 1;
background-image:  radial-gradient(#f76045 1.35px, transparent 1.35px), radial-gradient(#f76045 1.35px, #2f2e2e 1.35px);
background-size: 54px 54px;
background-position: 0 0,27px 27px;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.main-container h2 {
    color: #e69c47;
    margin-top: 30px;
}

.main-container .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px;
}

.form-field input {
    padding: 10px;
    font-size: 18px;
    width: 60%;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.form-field button {
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    height: 50px;
    width: 70px;
    background-color: rgb(228, 172, 99);
    color: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.form-field button:hover {
    transform: scale(1.1);
    background-color: #ec915d;
    color: #ffff;
}

.list-field {
    padding: 10px;
    width: 50%;
    height: 50%;
}

.todo-list {
    display: flex;
    font-size: 20px;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 20px 0 rgb(138, 67, 13);
    transition: all 0.5s;
}

.todo-list li {
    flex-grow: 2;
    transition: all 1s;
}

.todo-list .check-btn {
    background-color: rgb(141, 254, 109);
    padding: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.todo-list .delete-btn {
    background-color: #f76045;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.fa, .fa-trash, .fa-check {
    padding: 5px;
    color: #ffff;
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.3;
}

.delete-animation {
    transform: translateY(100px) rotateX(360deg);
}

@media only screen and (max-width: 600px) {

    h2 {
        width: 80%;
    }

    .form-field input {
        width: 100vw;
    }

    .list-field{
        display: flex;
        justify-content: center;
    }

    .todo-list {
        width: 90vw;
    }
  }